.toplist {
  color: white;
  display: grid;
  grid-template-columns: 100px 100px 100px;

  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 150px;
  row-gap: 50px;
}

.toplist p {
  text-align: center;
  margin: 0;
  background-color: #464864;
  width: 200px;
  font-size: 20px;
  padding: 10px 10px;
}

.toplist p:hover {
  transition: 0.3s;
  background-color: #3c3e55;
}

.coindet h3 {
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 40px;
}

.inner h3 {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}

.inner {
  color: white;
}
.inner p {
  padding-left: 20px;
}
